// Arguments
params {
	input                 = null
	outdir                = 'results'
	db                    = '/mnt/beegfs/home/mrojas/DiGenomaLab/Systemix/analysis/nf-bakta/db/db-light'
	tracedir              = "${params.outdir}/pipeline_info"
	debug                 = false
	help                  = false
	enable_conda          = false
	singularity_container = false
}

profiles {
	standard {
		process.executor       = 'local'
	}
	singularity {
		singularity.enabled    = true
		singularity.autoMounts = true
		singularity.cacheDir   = 'work/singularity'
		docker.enabled         = false
		podman.enabled         = false
		shifter.enabled        = false
		charliecloud.enabled   = false
	}
	kutral {
		singularity.enabled    = true
		singularity.autoMounts = true
		singularity.cacheDir   = 'work/singularity'
		docker.enabled         = false
		podman.enabled         = false
		shifter.enabled        = false
		charliecloud.enabled   = false
		executor.name          = 'slurm'
		executor.queue         = 'uohhm'
		executor.queueSize     = 50
	}
}

process {
	withName: RUNBAKTA {
		cpus   = 32
		memory = 90.GB
		time   = 48.h
	}
	errorStrategy = 'finish'
}

// Prevent local Python/R libraries from conflicting with those in the container
env {
	PYTHONNOUSERSITE = 1
	R_PROFILE_USER   = "/.Rprofile"
	R_ENVIRON_USER   = "/.Renviron"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']
def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

timeline {
	enabled = true
	file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
	enabled = true
	file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
	enabled = true
	file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
	enabled = true
	file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.svg"
}

// Pipeline description, software versions...
manifest {
	name            = 'digenoma-lab/nf-bakta'
	author          = 'DiGenomaLab'
	homePage        = 'https://github.com/digenoma-lab/nf-bakta'
	description     = 'A Nextflow pipeline for the annotation of bacterial genomes or MAGs running Bakta'
	mainScript      = 'main.nf'
	nextflowVersion = '23.04.2'
	version         = '1.0'
}
